<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li routerLinkActive="active current" class="nav-item">
      <a class="nav-link" routerLink="/followers" [queryParams]="{page:1,order:'newest'}">Followers <span
        class="sr-only">(current)</span></a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a routerLink="/posts" class="nav-link">Posts</a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a routerLink="/products" class="nav-link">Products</a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a routerLink="/people" class="nav-link">People</a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a routerLink="/input-output" class="nav-link">Input-Output Sample</a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a routerLink="/cekilis" class="nav-link">Component-Communication Sample</a>
    </li>
  </ul>
</nav>
